@import "tailwindcss";

@theme {
  --font-sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --color-accent: #aa3bff;
}

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  font-family: var(--font-sans);
}
